@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
<br>

<div>
    <form method="post" action="/" id="signup">
        <div class="form-group row">
            <label for="ipUsername" class="col-sm-2 col-form-label" style="margin-top:8px;">User name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="ipUsername" name="Username" placeholder="User name" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="ipPassword" class="col-sm-2 col-form-label" style="margin-top:8px;">Password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="ipPassword" name="Password" placeholder="Password" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="ipName" class="col-sm-2 col-form-label" style="margin-top:8px;">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="ipName" name="name" placeholder="Name" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="ipAddress" class="col-sm-2 col-form-label" style="margin-top:8px;">Address</label>
            <div class="col-md-10">
                <input type="text" value="" class="form-control" id="ipAddress" name="Address" placeholder="Address" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="ipEmail" class="col-sm-2 col-form-label" style="margin-top:8px;">Email</label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="ipEmail" name="email" placeholder="Email" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="ipPhone" class="col-sm-2 col-form-label" style="margin-top:8px;">Phone number</label>
            <div class="col-md-10">
                <input type="tel" class="form-control" id="ipPhone" name="PhoneNumber" placeholder="Phone number" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left: 16% !important">
                <button type="submit" onclick="SignUp()" class="btn btn-primary mb-2" id="save">Create</button>
            </div>
        </div>
    </form>
</div>

<br />
<div>
    @Html.ActionLink("Back to login", "Login")
</div>

@section Scripts{
    <script src="~/Scripts/home/signup.js"></script>
}

